org: yeferson
service: retoaws-users-api

provider:
  name: aws
  runtime: nodejs24.x
  region: us-east-1
  stage: dev

  environment:
    USERS_TABLE: !Ref UsersTable
    CREATE_USER_QUEUE_URL: !Ref CreateUserQueue
    SEND_EMAIL_TOPIC_ARN: !Ref SendEmailTopic

package:
  individually: true
  patterns:
    - '!**'

functions:
  getUsers:
    handler: node/getUsers.handler
    package:
      patterns:
        - 'node/getUsers.js'
        - 'package.json'
    iamRoleStatements:
      - Effect: Allow
        Action: [dynamodb:Scan]
        Resource: !GetAtt UsersTable.Arn
    events:
      - httpApi:
          path: /users
          method: get

  createUser:
    handler: node/createUser.handler
    package:
      patterns:
        - 'node/createUser.js'
        - 'package.json'
    iamRoleStatements:
      - Effect: Allow
        Action: [dynamodb:PutItem]
        Resource: !GetAtt UsersTable.Arn
      - Effect: Allow
        Action: [sqs:SendMessage]
        Resource: !GetAtt CreateUserQueue.Arn
    events:
      - httpApi:
          path: /users
          method: post

  updateUser:
    runtime: python3.11
    handler: python/update_user.handler
    package:
      patterns:
        - 'python/update_user.py'
    iamRoleStatements:
      - Effect: Allow
        Action: [dynamodb:UpdateItem]
        Resource: !GetAtt UsersTable.Arn
    events:
      - httpApi:
          path: /users/{id}
          method: put

  deleteUser:
    runtime: python3.11
    handler: python/delete_user.handler
    package:
      patterns:
        - 'python/delete_user.py'
    iamRoleStatements:
      - Effect: Allow
        Action: [dynamodb:DeleteItem]
        Resource: !GetAtt UsersTable.Arn
    events:
      - httpApi:
          path: /users/{id}
          method: delete

  sendEmail:
    handler: node/sendEmail.handler
    package:
      patterns:
        - 'node/sendEmail.js'
        - 'package.json'
    iamRoleStatements:
      - Effect: Allow
        Action: [sqs:ReceiveMessage, sqs:DeleteMessage]
        Resource: !GetAtt CreateUserQueue.Arn
      - Effect: Allow
        Action: [sns:Publish]
        Resource: !Ref SendEmailTopic
    events:
      - sqs:
          arn: !GetAtt CreateUserQueue.Arn

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-${self:provider.stage}-users
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH

    CreateUserQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:service}-${self:provider.stage}-create-user-queue

    SendEmailTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: ${self:service}-${self:provider.stage}-send-email-topic

    SendEmailSubscription:
      Type: AWS::SNS::Subscription
      Properties:
        TopicArn: !Ref SendEmailTopic
        Protocol: email
        Endpoint: yeferson1500@gmail.com